!**/[Pp]ackages/build/
!*.svg
!.axoCover/settings.json
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!?*.[Cc]ache/
$RECYCLE.BIN/
$tf/
*$py.class
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/*.rs.bk
**/[Pp]ackages/*
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.DotSettings.user
*.GhostDoc.xml
*.VC.VC.opendb
*.VC.db
*.VisualState.xml
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]haper
*.a
*.app
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bak
*.bim.layout
*.bim_*.settings
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.cmd
*.code-workspace
*.cover
*.coverage
*.coveragexml
*.d
*.dSYM/
*.dbmdl
*.dbproj.schemaview
*.dll
*.dotCover
*.dsp
*.dsw
*.dylib
*.e2e
*.egg
*.egg-info/
*.elc
*.elf
*.exe
*.exp
*.gch
*.gho
*.gpState
*.hex
*.i*86
*.idb
*.ilk
*.iobj
*.ipdb
*.iws
*.jfm
*.jmconfig
*.ko
*.la
*.lai
*.launch
*.ldf
*.lib
*.lnk
*.lo
*.log
*.manifest
*.map
*.mdf
*.meta
*.mm.*
*.mo
*.mod
*.mod*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.o
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.ori
*.orig
*.out
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.pot
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.py,cover
*.py[cod]
*.pyc
*.pydevproject
*.rdl.data
*.rel
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sage.py
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.sln.iml
*.slo
*.smod
*.snupkg
*.so
*.so.*
*.spec
*.stTheme.cache
*.stackdump
*.su
*.sublime-workspace
*.suo
*.svclog
*.swp
*.tlb
*.tlh
*.tli
*.tlog
*.tmPreferences.cache
*.tmlanguage.cache
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbp
*.vbw
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*.x86_64
*.xsd.cs
*_archive
*_flymake.*
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
*~.nib
.*crunch*.local.xml
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.\#*
._*
.apdisk
.apt_generated
.apt_generated_test/
.autotools
.axoCover/*
.buildpath
.builds
.cache
.cache-main
.cask/
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.cproject
.cr/personal
.dir-locals.el
.directory
.dmypy.json
.eggs/
.env
.externalToolBuilders/
.factorypath
.fake/
.fseventsd
.fuse_hidden*
.history/
.hypothesis/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.installed.cfg
.ionide/
.ipynb_checkpoints
.loadpath
.localhistory/
.metadata
.mfractor/
.mypy_cache/
.netrwhist
.nfs*
.ninja_deps
.ninja_log
.nox/
.ntvs_analysis.dat
.org-id-locations
.paket/paket.exe
.pdm-build/
.pdm-python
.pdm.toml
.projectile
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.recommenders
.recommenders/
.ropeproject
.sass-cache/
.scala_dependencies
.scrapy
.settings/
.springBeans
.spyderproject
.spyproject
.target
.tern-project
.texlipse
.tmp_versions/
.tox/
.venv
.vs/
.vscode/
.vscode/*
.vshistory/
.webassets-cache
.worksheet
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
/site
ASALocalRun/
AppPackages/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
BundleArtifacts/
CMakeCache,txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Cargo.lock
ClientBin/
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
ENV/
FakesAssemblies/
FodyWeavers.xsd
Generated\ Files/
Generated_Code/
GitHub.sublime-settings
Icon
MANIFEST
Makefile
MigrationBackup/
Mkfile.old
Module.symvers
Network Trash Folder
OpenCover/
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package.StoreAssociation.xml
Pakcage Control.ca-bundle
PublishScripts/
ScaffoldingReadMe.txt
ServiceFabricBackup/
Session.vim
Sessionx.vim
StyleCopReport.xml
Temporary Items
TestResult.xml
Testing
Thumbs.db
Thumbs.db:encryptable
UpgradeLog*.XML
UpgradeLog*.htm
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
\#*\#
_Chutzpah*
_NCrunch_*
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
__pycache__/
__pypackages__/
_deps
_pkginfo.txt
artifacts/
atlassian-ide-plugin.xml
auto-save-list
bh_unicode_properties.cache
bin/
bld/
build/
celerybeat-schedule
celerybeat.pid
cmake-build-*/
cmake_install.cmake
com_crashlytics_export_strings.xml
compile_commands.json
cover/
coverage*.info
coverage*.json
coverage*.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
csx/
cython_debug/
db.sqlite3
db.sqlite3-journal
debug/
develop-eggs/
dist/
dkms.conf
dlldata.c
dmypy.json
docs/_build/
downloads/
ecf/
eggs/
ehthumbs.db
ehthumbs_vista.db
env.bak/
env/
fabric.properties
flycheck_*.el
healthchecksdb
htmlcov/
install_manifest.txt
instance/
ipch/
ipython_config.py
lib/
lib64/
local.properties
local_settings.py
modules.order
mono_crash.*
nCrunchTemp_*
node_modules/
nosetests.xml
nunit-*.xml
orleans.codegen.cs
oscrypto-ca-bundle.crt
out/
paket-files/
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
project.fragment.lock.json
project.lock.json
publish/
rcf/
sdist/
sftp-config-alt*.json
sftp-config.json
share/python-wheels/
tags
target/
tmp/
tramp
var/
venv.bak/
venv/
wheels/
x64/
x86/
~$*
